* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.headerText {
  font-family: 'Lato', sans-serif;
  color: #006699;
  text-align: center;
  margin: 8px;
}

hr {
  height: 2px;
  background: linear-gradient(to right, #006699, #00cc99);
  border: 0;
}

.filterSort {
  padding-bottom: 20px;
  margin: 20px;
}

.filter {
  width: 20%;
  padding: 10px;  
  float: right;
}

/*
.clearButton {
  background: #6a85b6;
  border: none;
  padding: 10px 20px;
  color: white;
}

.clearButton:hover {
  background: lightblue;
}
*/

.carsDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.carTitle {
  color: #006699;
}

.carTitle:hover {
  cursor: pointer;
  color: #00cc99;
}

.car {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
}

.carInfo {
  padding: 15px;
}

.carInfoTitle {
  color: #006699;
}

.button {
  padding: 8px;
  margin: 5px;
  float: right;
  border: none;
}

.closeButton {
  background: #ff1a1a
}

.closeButton:hover {
  background: #ff8533;
}

.editButton {
  background: #6a85b6;
}

.editButton:hover {
  background: #00cc99;
}

/*.sortButton {
  background: #6a85b6;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-top: 20px;
}

.sortButton:hover {
  background: lightblue;
}

*/