* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  min-height: 100vh;
}

.header {
  background-color: #3c527a;  
  height: 15vh;
  margin-bottom: 20px;
}

.headerText {
  color: white;
  padding-left: 20px;
}

.filterSort {
  padding-bottom: 30px;
  margin: 20px;
}

.filter {
  width: 20%;
  padding: 10px;  
  float: right;
}

/*
.clearButton {
  background: #6a85b6;
  border: none;
  padding: 10px 20px;
  color: white;
}

.clearButton:hover {
  background: lightblue;
}
*/

.carsDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.carTitle, .home {
  color: #3c527a;
}

.carTitle:hover, .home:hover {
  cursor: pointer;
  color: lightblue;
}

.car {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
}

.carInfo {
  margin: 10px;
  padding-bottom: 10px;
}

.carInfoTitle {
  padding: 10px;
  color: #3c527a;  
}

.button {
  padding: 8px;
  margin: 5px;
  float: right;
  border: none;
}

.closeButton {
  background: #ff1a1a
}

.closeButton:hover {
  background: #ff8533;
}

.editButton {
  background: #6a85b6;
}

.editButton:hover {
  background: lightblue;
}

/*.sortButton {
  background: #6a85b6;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-top: 20px;
}

.sortButton:hover {
  background: lightblue;
}

*/