* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.headerText {
  font-family: 'Lato', sans-serif;
  color: #006699;
  text-align: center;
  margin: 8px;
}

hr {
  height: 2px;
  background: linear-gradient(to right, #006699, #00cc99);
  border: 0;
}

.filterSort {
  padding-bottom: 20px;
  margin: 20px;
}

.filter {
  width: 20%;
  padding: 10px;  
  float: right;
}

.carsDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.listImage {
  width: 300px;
  height: 200px;
}

.carTitle {
  color: #006699;
}

.carTitle:hover {
  cursor: pointer;
  color: #00cc99;
}

.car {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
}

.detailsImage {
  width: 500px;
  height: 350px;
}

.carInfo {
  padding: 15px;
}

.carInfoTitle {
  color: #006699;
}

.button {
  padding: 8px;
  margin: 5px;
  float: right;
  border: none;
}

.closeButton {
  background: #ff1a1a;
  margin-top: 20px;
}

.closeButton:hover {
  background: #ff8533;
}

.editButton {
  background: #6a85b6;
  margin-top: 20px;
}

.editButton:hover {
  background: #00cc99;
}

/*media queries*/
@media only screen and ((min-width: 483px) and (max-width: 681px)){
  .listImage {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (max-width: 520px){
  .detailsImage {
    width: 300px;
    height: 200px;
  }
}